#hero {
    #prev {
        position: absolute;
        top: 50%;
        left: 30px;
        z-index: 1000;
        color: black;
        font-size: 15px;
        background-color: white;
        padding: 20px 15px;
        cursor: pointer;

        &:hover {
            background-color: #ffb606;
            transition: .3s ease;
            color: white;
        }
    }

    #next {
        position: absolute;
        top: 50%;
        right: 30px;
        z-index: 1000;
        color: black;
        font-size: 15px;
        background-color: white;
        padding: 20px 15px;
        cursor: pointer;

        &:hover {
            background-color: #ffb606;
            transition: .3s ease;
            color: white;
        }
    }

    .swiper-content {
        position: absolute;
        color: white;

        h1 {
            font-size: 70px;
            font-weight: 400;
        }

        span {
            padding: 10px;
            background-color: #ffb606;
            color: white;
        }
    }
}